#home_content {
    background-color: lightblue;

    height: 80%;
    width: 100%;
    display: flex;
    align-items: stretch;

    padding: 10px;
}

.box_panel {
    width: 100%;
}

.box_panel_header {
    width: 100%;
    margin-bottom: 10px;
    ;
}

.add_box_button {
    float: right;
    border: solid black 1px;
    border-radius: 100%;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 10px;
    cursor: pointer;
}

.box {
    border: solid black 1px;
    border-radius: 10px;
    margin: 2px;
    margin-bottom: 5px;
}

.box_name {
    font-size: 2em;
}

.box_header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 20px;

    padding: 5px;

    cursor: pointer;
}

.box_name_group {
    flex-grow: 1;
}

.box_body {
    border-top: 1px solid black;
    padding: 5px;
}

.add_paint_to_box_button {
    border: solid black 1px;
    border-radius: 100%;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;

    cursor: pointer;
}

.add_paint_to_box_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 10%;
    /* Enable scroll if needed */
    overflow: auto;
    display: block;
}

.add_paint_to_box_modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.add_paint_to_box_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.add_paint_to_box_modal_close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.add_paint_to_box_modal_close:hover,
.add_paint_to_box_modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.confirm_add_paint_to_box_button {
    border-radius: 20%;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 20px;

    background-color: lightgrey;

    cursor: pointer;
}

#add_paint_to_box_paints_panel {
    width: 100%;
    padding: 10px;
}