body {
    height: 100vh;
}

#main {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.navbar_link {
    display: block;
    /* display: inline-block; */
    cursor: pointer;
    text-decoration: none;

    padding: 30px;
}

.navbar_link:hover {
    background-color: lightgrey;
}